<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} ANIME CYCLE GAN {% endblock title %}</title>
  </head>
  <body>
    {% block body %}
    <a href="{% url 'upload' category='anime' %}">Anime to Real Life</a>
    <a href="{% url 'upload' category='celeb' %}">Real Life to Anime</a>
    {% endblock body %}
  </body>
</html>
